@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap'); /* This has to be imported first */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color-scheme: dark;
}

body {
  background-color: #131313;
}

input {
  outline: none;
  background-color: white;
  color: #000;
}

@layer components {
  .container {
    @apply max-w-[90rem] mx-auto px-4 py-12 lg:py-28;
  }
}
